<!DOCTYPE html>
<html lang="en">
	<body>
		<!-- preloader -->
		<div id="preloader" class="preloader-wrapper big active">
			<div class="spinner-layer spinner-green">
    	    	<div class="circle-clipper left">
        	  		<div class="circle"></div>
        		</div>
        		<div class="gap-patch">
          			<div class="circle"></div>
        		</div>
    			<div class="circle-clipper right">
   					<div class="circle"></div>
   				</div>
      		</div>
    	</div>

		<!-- navigation -->
		
		
		<!-- body -->
		<div id="tab1" class="col s12">
			<h1>Hello World!</h1>
		</div>
		<div id="tab2" class="col s12">
			<div class="carousel carousel-slider center">
			    <div class="carousel-fixed-item center">
			    	<a class="btn waves-effect white grey-text darken-text-2">button</a>
			    </div>
			    <div class="carousel-item red white-text" href="#one!">
			    	<h2>First Panel</h2>
			    	<img src="img/bridge.jpg">
			    </div>
			    <div class="carousel-item amber white-text" href="#two!">
			    	<img src="img/night.jpg">
			    </div>
			    <div class="carousel-item green white-text" href="#three!">
			    	<h2>Third Panel</h2>
			    	<img src="img/river.jpg">
			    </div>
			    <div class="carousel-item blue white-text" href="#four!">
			    	<h2>Fourth Panel</h2>
			    	<img src="img/snow.jpg">
			    </div>
			</div>
		</div>
		<div id="tab3" class="col s12">Test 3</div>

		<!-- footer -->
		<% partial("footer") %>

		<!-- scripts -->
		<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  		<script src="js/materialize.min.js" type="text/javascript" charset="utf-8"></script>
  		<script src="js/main.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>