<!DOCTYPE html>
<html lang="en">
	<% include ../partials/head %>
	<body>
		<% include ../partials/preloader %>
		<% include ../partials/tabbedNav %>

		<!-- body -->
		<div class="wrapper">
			<div id="tab1" class="col s12">
				<h1>Hello World!</h1>
			</div>
			<div id="tab2" class="col s12">
				<div class="carousel carousel-slider center">
				    <div class="carousel-fixed-item center">
				    	<a class="btn waves-effect white grey-text darken-text-2">button</a>
				    </div>
				    <div class="carousel-item red white-text" href="#one!">
				    	<h2>First Panel</h2>
				    	<img src="img/bridge.jpg">
				    </div>
				    <div class="carousel-item amber white-text" href="#two!">
				    	<h2>Second Panel</h2>
				    	<img src="img/night.jpg">
				    </div>
				    <div class="carousel-item green white-text" href="#three!">
				    	<h2>Third Panel</h2>
				    	<img src="img/river.jpg">
				    </div>
				    <div class="carousel-item blue white-text" href="#four!">
				    	<h2>Fourth Panel</h2>
				    	<img src="img/snow.jpg">
				    </div>
				</div>
			</div>
			<div id="tab3" class="col s12">Test 3</div>
		</div>

		<!-- footer -->
		<% include ../partials/footer %>

		<!-- scripts -->
		<% include ../partials/scripts %>
	</body>
</html>